@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

& .header {
  display: flex;
  justify-content: end;
  align-items: center;

  height: 8rem;

  background-color: #382717;

  & .logo {
    position: absolute;
    z-index: 100;
    top: 1rem;
    left: 6rem;

    border-radius: 50%;
    height: 18rem;
    width: 18rem;
  }

  & .order-btn {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 6rem;
    padding: 1rem 6rem;

    border-radius: 5rem;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #ff8200;
  }

  & .order-btn:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
}

& .main {
  & .slider {
    height: 100%;
    width: 100%;
    overflow: hidden;

    & .slider-wrapper {
      & .slider-item {
        display: flex;
        align-items: center;

        height: calc(100dvh - 8rem);
        width: 100%;

        background: url(../images/doces.png) center / cover no-repeat;

        & .slide-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 1.5rem;

          padding: 0 50% 0 6rem;

          & .title {
            font-family: "Roboto Slab", serif;
            font-size: 5rem;
            line-height: 1;
            letter-spacing: -0.1rem;
            text-align: left;
            color: #fff;

            padding-top: 2rem;
          }

          & .subtitle {
            font-family: "Roboto Slab", serif;
            font-size: 2.2rem;
            font-weight: 500;
            text-align: left;
            color: #f9d7b1;
          }

          & .slide-links {
            display: flex;
            justify-content: center;
            gap: 2rem;
            padding-top: 1rem;

            & .slide-btn-wtzp,
            .slide-btn-ifood {
              font-size: 1.2rem;
              font-weight: 600;
              padding: 1.2rem 4rem;

              border-radius: 5rem;
              text-decoration: none;
              text-transform: uppercase;

              color: #fff;
            }

            & .slide-btn-wtzp:hover,
            .slide-btn-ifood:hover {
              transform: scale(1.04);
              transition: all 0.2s;
            }

            & .slide-btn-wtzp {
              background-color: #ff8200;
            }

            & .slide-btn-ifood {
              background-color: #ea1d2c;
            }
          }
        }

        & .mask {
          display: flex;
          align-items: center;

          background-color: #00000067;
          height: calc(100dvh - 8rem);
          width: 100%;
        }
      }

      & .slider-item:nth-child(2) {
        background: url(../images/salgados.png) center / cover no-repeat;
      }
    }
  }
}
